name: Daily Blog Aggregator Super Aman

on:
  schedule:
    - cron: "0 1 * * *"   # 08:00 WIB
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4

      - name: Debug queue
        run: |
          echo "PWD: $(pwd)"
          ls -lah queue
          cat queue/blogs.json

      - name: Run aggregator
        run: |
          python daily_aggregator.py

      - name: Commit results
        run: |
    git config user.name "github-actions"
    git config user.email "actions@github.com"
    git add output cache queue
    git commit -m "Daily blog aggregation" || echo "No changes"
    git push --force